<!-- Extend the base layout from the layout html-->
{% extends "licence_home/layout.html" %}

{% block title %} User Document {% endblock %}

{% block content %}
   <h1 class="text-center">User Documents</h1>
   {% if user.user_type == 'ADMIN' or user.user_type == 'MANAGER' %}
   <a class= "btn btn-primary" href ="{% url 'user_form'%}">Add Details</a>
   {% endif %}
   <table class="table table-bordered table-stripped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Images</th>
            <th>Document</th>
        </tr>
    </thead>
    <tbody>
        {% for user in Users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td><img src="{{ user.image.url }}" width="100" height="100"></td>
            <td><embed class="pdf" src="{{ user.pdf.url }}" width="100" height="100"></td>
            <td> {% if user.username == username %}
                <a href="{% url 'doc_update' user.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'doc_delete' user.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
   </table>
{% endblock %}
 