{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Details</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        <h2>Protected Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque odio tempore reprehenderit doloremque, natus repellendus nemo, facere sapiente asperiores excepturi iure reiciendis, tenetur eius saepe vero blanditiis error officia officiis?</p>
        <a href="{% url 'home' %}">Home</a>
    </div>
</body>
</html>